<body class="bg-info">
  <%= render 'layouts/header' %>
  <div class="center" align="center">
    <h4 align="center">Edit your post</h4>
    <%= form_for Post.new, :url => post_update_path do |x| %>
      <%= x.label :Title %>
      <br>
      <%= x.text_field :title %>
      <br>
      <br>
      <%= x.text_area(:text, placeholder: "Write here...") %>
      <br>
      <%= hidden_field_tag(:id , Post.find(params[:id]).id) %>
      <br>
      <%= x.file_field :avatar %>
      <%= x.submit "Save Changes", class: "btn btn-primary" %>
    <% end %>

  </div>




</body>